.showFilm {
    background-image: url("https://avatars.mds.yandex.net/i?id=5eba452cb00a925aefd82d7f7a8c31b4_l-5031281-images-thumbs&n=13");
min-height: 100vh; 
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;    
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #3d3939;
}

.showFilm-header {
width: 990px;
height: 67px;
display: flex;
flex-direction: column;
justify-content: center;
padding: 14px;
margin: 0 auto;
}

.showFilm-main {
width: 990px;
border-radius: 2px;
background: rgba(241, 235, 230, 0.95);
margin: 0 auto;
}

.showFilm-main__header {
width: 990px;
height: 97px;
padding: 15px 555.6px 15px 15px;
}

.showFilm-main__header-buying-info {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.showFilm-main__header-buying-info-filmName,
.showFilm-main__header-buying-info-hallName {
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 18px;
text-align: left;
}

.showFilm-main__header-buying-info-filmStart {
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 16px;
text-align: left;
}

.showFilm-hallPlane {
  width: 990px;
  background: rgba(23, 29, 36, 1);
  padding: 15px 30px 15px 30px;
}

.showFilm-hallPlane-screen {
  color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 19px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    padding-top: 26px;
    display: flex;
    justify-content: center;
}

.showFilm-hallPlane-buyingScheme__legend {
  padding-top: 30px;
  display: flex;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px ;
  justify-content: center;
}

.showFilm-hallPlane-buyingScheme__legend-box {
  display: flex;
}

.showFilm-hallPlane-buyingScheme__legend-standartPlace {
width: 20px;
height: 20px;
box-sizing: border-box;
border: 1px solid rgba(82, 82, 82, 1);
border-radius: 4px;
background: rgba(255, 255, 255, 1);
cursor: pointer;
}

.showFilm-hallPlane-buyingScheme__legend-reservedPlace {
width: 20px;
height: 20px;
box-sizing: border-box;
border: 1px solid rgba(82, 82, 82, 1);
border-radius: 4px;
cursor: pointer;
}

.showFilm-hallPlane-buyingScheme__legend-VipPlace {
width: 20px;
height: 20px;
box-sizing: border-box;
border: 1px solid rgba(82, 82, 82, 1);
border-radius: 4px;
background: rgba(249, 149, 58, 1);
cursor: pointer;
}

.showFilm-hallPlane-buyingScheme__legend-selectedPlace {
width: 24px;
height: 24px;
box-sizing: border-box;
border: 1px solid rgba(82, 82, 82, 1);
border-radius: 4px;
box-shadow: 0px 0px 4px 0px rgba(22, 166, 175, 1);
background: rgba(37, 196, 206, 1);
cursor: pointer;
}

.showFilm-hallPlane-buyingScheme__legend-standartPlace-price,
.showFilm-hallPlane-buyingScheme__legend-reservedPlace-status,
.showFilm-hallPlane-buyingScheme__legend-VipPlace-price,
.showFilm-hallPlane-buyingScheme__legend-standartPlace-price {
display: flex;
align-items: center;
padding-left: 3px;
color: rgba(255, 255, 255, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
}

.showFilm-hallPlane-buyingScheme__hall-row{
    display: flex;
  justify-content: center;
  gap: 15px ;
  padding-top: 10px;
}