@keyframes fadeDown {
   0% {
       max-height: 0;
       opacity: 0;
   }
   80% {
       max-height: 5000px;
   }
   100% {
       opacity: 1;
   }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  20% {
    max-height: 5000px;
  }
  100% {
    max-height: 0;
    opacity: 0;
    display: none;
   }
}

@keyframes showPopup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes unShowPopup {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.adminPanel {
position: relative;
background-image: url("/public/backgroungImage.jpg");
min-height: 100vh; 
background-repeat: no-repeat;
background-position: center center; 
background-size: cover;    
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
background-color: #3d3939;
z-index: 0;
background-attachment: fixed;
}

.header__adminPanel{
width: 972px;
height: 120px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 35px 42px 35px 104px;
margin: 0 auto;
}

.header__adminPanel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.header__logos {
  display: flex;
  justify-content: space-between; 
  width: 100%;                    
}

.header__logos_admin {
  display: flex;
  flex-direction: column;
}

.hallManagment {
width: 962px;
height: auto;
background: rgba(255, 255, 255, 1);
margin: 0 auto;
}

.hallManagment__header,
.configurePrice__header,
.configureFilms__header,
.openSales__header{
width: 962px;
height: 95px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 35px 42px 35px 104px;
margin: 0 auto;
background: rgba(99, 83, 108, 1);
}

.hallManagment__heading,
.configurePrice__heading,
.configureFilms__heading,
.modal__main-heading,
.openSales__heading {
color: rgba(255, 255, 255, 1);
font-family: 'Roboto', sans-serif;
font-size: 22px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}

.hallManagment__picture {
width: 44px;
height: 44px;
box-sizing: border-box;
border: 4px solid rgba(188, 149, 214, 1);
border-radius: 22px;
background: rgba(255, 255, 255, 1);
}

.rowButton{
padding: 0;
border: none;
font: inherit;
color: inherit;
background-color: transparent;
cursor: pointer;
}

.rowButton:hover {
  transform: scale(1.07);
}

.hallManagment__content_default,
.configurePrice__main-default,
.configureFilms__main-default,
.openSales__main-default {
  animation: fadeOut 0.3s cubic-bezier(0,.7,1,.99) forwards;
  background: rgb(231, 230, 230); 
}

.hallManagment__content,
.configurePrice__main,
.configureFilms__main,
.openSales__main {
display: flex;
flex-direction: column;
background: rgb(231, 230, 230); 
animation: fadeDown 1s ease 
}

.hallManagment__content_span {
display: flex;
font-family: 'Roboto', sans-serif;  
font-weight: 400;
font-size: 16px;
line-height: 18px;
vertical-align: middle;
padding: 35px 0px 12px 104px;
}

.hallManagment__content_hall{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 129px;
  column-count: 4;
  column-gap: 20px;
  max-height: 400px;
  
}

.hall {
color: rgba(0, 0, 0, 1);
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 18px;
text-align: left;
text-transform: uppercase;
display: flex;
align-items: center;
}

.bashButton {
  padding-left: 5px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.bashButton:hover {
  transform: scale(1.05);
}

.hallAdd__button {
border-radius: 5px;
cursor: pointer;
border: none;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24),0px 0px 3px 0px rgba(0, 0, 0, 0.12);
background: rgba(22, 166, 175, 1);
padding: 12px 12px 10px 12px;
color: rgba(255, 255, 255, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
width: 159px;
height: 40px;
margin: 10px 0px 36px 104px;
}

.hallInput-span-nonActive {
  display: none;
}

.hallInput-span-Active {
  display: flex;
}

.error {
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: rgb(112, 37, 24);
}

.success {
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: rgb(42, 112, 24);
}

.hallConfigure {
width: 962px;
height: auto;
background: rgba(255, 255, 255, 1);
margin: 0 auto;
}

.hallConfigure__header {
width: 962px;
height: 95px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 35px 42px 35px 104px;
margin: 0 auto;
background: rgba(99, 83, 108, 1);
}

.hallConfigure__heading {
color: rgba(255, 255, 255, 1);
font-family: 'Roboto', sans-serif;
font-size: 22px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}

.hallConfiguration__form-rows-input,
.hallConfiguration__form-places-input {
width: 100px;
height: 36px;
padding: 8px 8.8px 9px 8.8px;
border: 1px solid rgba(183, 183, 183, 1);
background: rgba(255, 255, 255, 1);
color: rgba(117, 117, 117, 1);
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 100%;
text-align: left;
}

.hallConfigure__content-default {
  animation: fadeOut 0.3s cubic-bezier(0,.7,1,.99) forwards;
  background: rgb(231, 230, 230);
}

.hallConfigure__content {
  display: flex;
  flex-direction: column;
  background: rgb(231, 230, 230);
  animation: fadeDown 1s ease 
}

.hallConfigure__content_wapper {
  padding: 35px 0px 0px 105px;
}

.hallConfigure__content_span {
color: rgba(0, 0, 0, 1);
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 18px;
text-align: left;
}

.hallConfigure__content_halls {
  display: flex;
 padding: 10px 104px 0px 104px;
 gap: 3.55px ;
}

.hallConfigure__content_hall{
width: auto;
height: 42px;
align-items: flex-start;
padding: 12.2px 20.25px 12.9px 21px;
border-radius: 3px;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24),0px 0px 3px 0px rgba(0, 0, 0, 0.12);
background: rgba(255, 255, 255, 0.45);
border: none;
color: rgba(0, 0, 0, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: left;
text-transform: uppercase;
}

.hallConfigure__content_hall-isActive {
width: auto;
height: 46px;
justify-content: flex-start;
align-items: flex-start;
padding: 15.41px 23.03px 13.9px 23.1px;
border-radius: 3px;
box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.24),0px 2px 2px 0px rgba(0, 0, 0, 0.24),0px 0px 2px 0px rgba(0, 0, 0, 0.12);
background: rgba(255, 255, 255, 1);
color: rgba(0, 0, 0, 1);
font-family: 'Roboto', sans-serif;
font-size: 15px;
font-weight: 900;
line-height: 16px;
text-align: left;
text-transform: uppercase;
border: none;
}

.hallConfiguration {
  padding: 10px 0px 0px 104px;
}

.hallConfiguration__conf-step__paragpaph{
  color: rgba(0, 0, 0, 1);
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 18px;
text-align: left;
padding-bottom: 10px;
display: flex;
}

.hallConfiguration__form_x {
 display: flex;
align-items: end;
color: rgba(132, 132, 132, 1);
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
padding: 7.4px 13px 7px 13px;
}

.hallConfiguration__hall {
  padding-top: 10px;
}

.hallConfiguration__inputs {
  display: flex;
}

.hallConfiguration__form-rows-label,
.hallConfiguration__form-places-label {
 color: rgba(132, 132, 132, 1);
font-family: 'Roboto', sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 14px;
text-align: left;
}


.hallConfiguration__form-rows,
.hallConfiguration__form-places {
  display: flex;
  flex-direction: column;
}

.conf-step__paragraph {
  display: block;
color: rgba(0, 0, 0, 1);
  font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 18px;
text-align: left;
padding-top: 40px;
}

.places__classes {
  display: flex;
  gap: 25px;
  margin: 10px 0px 10px 0px;
}

.places__classes-standartPlace, 
.places__classes-vipPlace,
.places__classes-blockedPlace {
  display: flex;
  align-items: center;
}

.places__classes-standartPlace-span,
.places__classes-vipPlace-span,
.places__classes-blockedPlace-span {
color: rgba(132, 132, 132, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 16px;
text-align: left;
padding-left: 7px;
}

.places__classes-standartPlace-button {
width: 26px;
height: 26px;
box-sizing: border-box;
border: 1px solid rgba(57, 57, 57, 1);
border-radius: 4px;
background: rgba(196, 196, 196, 1);
cursor: pointer;
}

.places__classes-standartPlace-button:hover,
.places__classes-vipPlace-button:hover,
.places__classes-blockedPlace-button:hover {
  transform: scale(1.035);
}

.places__classes-vipPlace-button {
width: 26px;
height: 26px;
box-sizing: border-box;
border: 1px solid rgba(10, 130, 138, 1);
border-radius: 4px;
background: repeating-linear-gradient(-60deg, rgb(176, 214, 216) 0, rgb(176, 214, 216) 1px, transparent 1px, transparent 5px);  
cursor: pointer;
}

.places__classes-blockedPlace-button {
width: 26px;
height: 26px;
box-sizing: border-box;
border: 1px solid rgba(196, 196, 196, 1);
border-radius: 4px;
cursor: pointer;
}

.conf-step__hint {
  color: rgba(132, 132, 132, 1);
font-family: 'Roboto', sans-serif ;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
}

.conf-step__hall {
width: 826px;
height: auto;
box-sizing: border-box;
border: 1px solid rgba(0, 0, 0, 1);
display: flex;
flex-direction: column;
}

.conf-step__hall-span {
  display: flex;
  justify-content: center;
}

.conf-step__hall {
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 19px;
text-align: center;
text-transform: uppercase;
justify-content: center;
padding-top: 26px;
}

.conf-step__hall-wrapper {
  margin-bottom: 36px;
}

.conf-step__hall-rows {
  display: flex;
  justify-content: center;
  gap: 15px ;
  padding-top: 10px;
}

.fieldset {
  display: flex;
  justify-content: center;
  margin: 17px 0px 36px 0px;
  gap: 15px;
}

.fieldset__cancel-button {
  width: 121px;
height: 40px;
padding: 11.2px 31.39px 11.9px 31.76px;
border-radius: 3px;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24),0px 0px 3px 0px rgba(0, 0, 0, 0.12);
background: rgba(255, 255, 255, 1);
color: rgba(99, 83, 108, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
border: none;
cursor: pointer;  
}

.fieldset__send-button {
width: 146px;
height: 40px;
border-radius: 3px;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24),0px 0px 3px 0px rgba(0, 0, 0, 0.12);
background: rgba(22, 166, 175, 1);  
padding: 11.2px 32px 11.9px 32px;
color: rgba(255, 255, 255, 1);
font-family: 'Roboto',sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
border: none;
cursor: pointer;
}

.hallAdd__button:hover,
.hallConfigure__content_hall:hover,
.fieldset__cancel-button:hover,
.fieldset__send-button:hover   {
  transform: scale(1.05);
  transition: transform 0.15s ease;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header__adminPanel,
  .hallManagment,
  .hallManagment__header,
  .hallConfigure__header,
  .hallConfigure{
    width: 100%;
  }

.conf-step__hall {
  width: 95%;
}

}

@media (max-width:640px) {
    .header__adminPanel,
  .hallManagment,
  .hallManagment__header,
  .hallConfigure__header,
  .hallConfigure,
  .conf-step__hall {
    width: 100%;
  }

.header__logos {
  justify-content: center;
  align-items: center;
}

.header__adminPanel {
  padding: 0px;
  justify-content: center;
}

.hallManagment__header {
  padding: 0px 20px 0px 20px;
}

.hallConfiguration {
  padding: 10px 20px 0px 20px;
}

  .hallConfigure__content_halls {
    padding: 10px 20px 0px 20px;
    flex-wrap: wrap;
}

.conf-step__hall-wrapper {
  padding: 10px;
}

.places__classes {
flex-wrap: wrap;
}

.hallConfigure__content_wapper {
  padding: 20px 20px 0px 20px
}

.hallConfigure__header { 
  padding: 0px 20px 0px 20px;
}

.hallManagment__content_hall {
  padding: 0px 20px 0px 20px;
} 

.hallManagment__content_span{
      padding: 35px 0px 12px 20px;
}

.hallConfigure__content_hall {
  height: auto;
}

.conf-step__hall-rows {
  gap: 2%;
}

}