.configureFilms__content {
width: 962px;
height: auto;
background: rgb(231, 230, 230); 
}

.configureFilms__addFilms {
height: 57px;
display: flex;
padding: 42px 0px 50px 104px;
}

.configureFilms__addFilms-button {
width: 194px;
height: 40px;
border-radius: 3px;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24), 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
background: rgba(22, 166, 175, 1);
padding: 11.2px 32px 11.9px 32px;
color: rgba(255, 255, 255, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
border: none;
cursor: pointer;
}

.configureFilms__addFilms-button:hover {
    transform: scale(1.05);
}


.films-wrapper {
display: flex;
gap: 15px ;
flex-wrap: wrap;
margin: 15px 0px 15px 104px;

}

.filmBox {
display: flex;
min-width: 259px;
height: 52px;
background-color: #dbd5d5;
border: 1px solid #b4aeae;
position: relative;
cursor: grab;
}

.filmBox-content {
display: flex;
flex-direction: column;
}

.filmPoster{
width: 38px;
height: 50px;
}

.filmBox-content-filmName {
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: left;
padding: 5px 10px 0px 10px;
}

.filmBox-content-filmDuration{
color: rgba(0, 0, 0, 0.7);
font-family: 'Roboto',sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 16px;
text-align: left;
padding: 5px 10px 0px 10px;
}

.deleteButton{
    position: absolute;
right: 1px;
bottom: 1px;
height: 25px;
width: 29px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.deleteButton:hover{
  transform: scale(1.06);
}

.halls {
  padding: 20px 42px 0px 104px;
}

.halls-block {
  display: flex;
  flex-direction: column;
}

.halls-block-name {
  padding-left: 35px;
  color: rgba(0, 0, 0, 1);

font-family: 'Roboto',sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 18px;
text-align: left;
text-transform: uppercase;
}

.hallls-block-timeline {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 62px;
  border: 1px solid rgba(132, 132, 132, 1);
  margin: 0px 0px 35px 35px;
  position: relative;
  padding: 0 15px; /* отступы, чтобы кнопки не прилипали к краям */
}

.hallls-block-timeline-film {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100px;
  transform: translateX(-50%); /* центрирование кнопки */
}

.hallls-block-timeline-filmName:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.hallls-block-timeline-filmName {
  display: flex;
  justify-content: center;
max-width: 100px;
box-sizing: border-box;
border: 1px solid rgba(0, 0, 0, 0.3);
background-color: #dbd5d5;
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 10px;
font-weight: 400;
line-height: 10px;
text-align: left;
padding: 10px;
}

.hallls-block-timeline-time{
  color: rgba(132, 132, 132, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  position: absolute;
  bottom: -32px; 
  left: 50%;
  transform: translateX(-50%);
}

.halls-block-timeline-wrapper {
  display: flex;
align-items: center;
position: relative;
}

.deleteSeance {
  position: absolute;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  height: 50px;
  width: 70px;
  left: -45px;
  top: 5px;
}

.trashButton {
  height: 45px;
  width: 50px;
  background-color: #686666;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .configureFilms__header,
  .configureFilms__main,
  .configureFilms__content,
  .configureFilms__addFilms{
    width: 100%;
  }
}

@media (max-width:640px) {
  .configureFilms__header,
  .configureFilms__main,
  .configureFilms__content,
  .configureFilms__addFilms{
    width: 100%;
  }

  .configureFilms__header {
    padding: 35px 20px 35px 20px;
  }

  .configureFilms__addFilms {
        padding: 42px 0px 50px 20px;
  }

  .films-wrapper {
        margin: 15px 0px 15px 20px;
  }

  .halls {
        padding: 20px 42px 0px 20px;
  }

  .hallls-block-timeline {
    margin: 0px 0px 35px 0px;
  }

  .halls-block-name {
    padding-left: 0px;
  }
}