.configureFilms__content {
width: 962px;
height: auto;
background: rgb(231, 230, 230); 
}

.configureFilms__addFilms {
max-width: 816px;
height: 57px;
display: flex;
padding: 42px 0px 50px 104px;
}

.configureFilms__addFilms-button {
width: 194px;
height: 40px;
border-radius: 3px;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24), 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
background: rgba(22, 166, 175, 1);
padding: 11.2px 32px 11.9px 32px;
color: rgba(255, 255, 255, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
border: none;
cursor: pointer;
}

.configureFilms__addFilms-button:hover {
    transform: scale(1.05);
}


.films-wrapper {
display: flex;
gap: 15px ;
flex-wrap: wrap;
margin: 15px 0px 15px 104px;
}

.filmBox {
display: flex;
min-width: 259px;
height: 52px;
background-color: #dbd5d5;
border: 1px solid #b4aeae;
position: relative;
}

.filmBox-content {
display: flex;
flex-direction: column;
}

.filmPoster{
width: 38px;
height: 50px;
}

.filmBox-content-filmName {
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: left;
padding: 5px 10px 0px 10px;
}

.filmBox-content-filmDuration{
color: rgba(0, 0, 0, 0.7);
font-family: 'Roboto',sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 16px;
text-align: left;
padding: 5px 10px 0px 10px;
}

.deleteButton{
    position: absolute;
right: 1px;
bottom: 1px;
height: 25px;
width: 29px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.halls {
  padding: 20px 42px 0px 104px;
}

.halls-block {
  display: flex;
  flex-direction: column;
}

.halls-block-name {
  padding-left: 35px;
  color: rgba(0, 0, 0, 1);

font-family: 'Roboto',sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 18px;
text-align: left;
text-transform: uppercase;
}

.hallls-block-timeline {
width: 722px;
height: 62px;
border: 1px solid rgba(132, 132, 132, 1);
  margin: 0px 0px 35px 35px;
}