.configureFilms__content {
width: 962px;
height: auto;
background: rgb(231, 230, 230); 
}

.configureFilms__addFilms {
max-width: 816px;
height: 57px;
display: flex;
padding: 42px 0px 50px 104px;
}

.configureFilms__addFilms-button {
width: 194px;
height: 40px;
border-radius: 3px;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24), 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
background: rgba(22, 166, 175, 1);
padding: 11.2px 32px 11.9px 32px;
color: rgba(255, 255, 255, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
border: none;
cursor: pointer;
}

.configureFilms__addFilms-button:hover {
    transform: scale(1.05);
}


.films-wrapper {
display: flex;
gap: 15px ;
flex-wrap: wrap;
margin: 15px 0px 15px 104px;
}

.filmBox {
display: flex;
min-width: 259px;
height: 52px;
background-color: #dbd5d5;
border: 1px solid #b4aeae;
position: relative;
}

.filmBox-content {
display: flex;
flex-direction: column;
}

.filmPoster{
width: 38px;
height: 50px;
}

.filmBox-content-filmName {
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: left;
padding: 5px 10px 0px 10px;
}

.filmBox-content-filmDuration{
color: rgba(0, 0, 0, 0.7);
font-family: 'Roboto',sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 16px;
text-align: left;
padding: 5px 10px 0px 10px;
}

.deleteButton{
    position: absolute;
right: 1px;
bottom: 1px;
height: 25px;
width: 29px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.halls {
  padding: 20px 42px 0px 104px;
}

.halls-block {
  display: flex;
  flex-direction: column;
}

.halls-block-name {
  padding-left: 35px;
  color: rgba(0, 0, 0, 1);

font-family: 'Roboto',sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 18px;
text-align: left;
text-transform: uppercase;
}

.hallls-block-timeline {
width: 722px;
height: 62px;
border: 1px solid rgba(132, 132, 132, 1);
  margin: 0px 0px 35px 35px;
  display: flex;
  flex-wrap: wrap;
  
  gap: 3px;
}

.hallls-block-timeline-film {
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
}

.hallls-block-timeline-filmName {
  display: flex;
  justify-content: center;
max-width: 72px;
box-sizing: border-box;
border: 1px solid rgba(0, 0, 0, 0.3);
background-color: #dbd5d5;
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 10px;
font-weight: 400;
line-height: 10px;
text-align: left;
padding: 10px;
}

.hallls-block-timeline-time{
color: rgba(132, 132, 132, 1);
font-family: 'Roboto',sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 14px;
text-align: left;
position: absolute;
bottom: -18px;
}

.addSeanseModal {
max-width: 960px;
height: 380px;
background: rgba(234, 233, 235, 0.95);
}

.addSeanseModal-header{
width: 960px;
height: 57px;
background: rgba(99, 83, 108, 1);
display: flex;
justify-content: space-between;
padding: 0px 42px 0px 42px;
align-items: center;
}

.addSeanseModal-header__heading{
color: rgba(255, 255, 255, 1);
font-family: 'Roboto',sans-serif;
font-size: 22px;
font-weight: 700;
line-height: 25px;
text-align: left;
text-transform: uppercase;
}

.addSeanseModal-buttonClose{
padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.addSeanse-form-hallName,
.addSeanse-form-filmName,
.addSeance-form-seanceTime{
  display: flex;
  flex-direction: column;
  padding: 8px 9px 5px 9px;
}

.addSeanse-form-hallName-label,
.addSeanse-form-filmName-label,
.addSeanse-form-seanceTime-label{
color: rgba(132, 132, 132, 1);
font-family: 'Roboto',sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0%;
text-align: left;
}

.addSeanse-form{
  margin: 35px 103.6px 0px 103.6px;
}

.addSeanse-form-hallName-input,
.addSeanse-form-filmName-input,
.addSeanse-form-seanceTime-input{
  box-sizing: border-box;
border: 1px solid rgba(183, 183, 183, 1);
background: rgba(255, 255, 255, 1);
padding: 8px;
height: 35px;
color: rgba(117, 117, 117, 1);
font-family: 'Roboto',sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}

.addSeanse-form-buttons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.addSeanse-form-buttons-send {
width: 194px;
height: 40px;
padding: 11.2px 32px 11.9px 32px;
border-radius: 3px;
border-radius: 3px;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24),0px 0px 3px 0px rgba(0, 0, 0, 0.12);
background: rgba(22, 166, 175, 1);
color: rgba(255, 255, 255, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
border: none;
cursor: pointer;  
}

.addSeanse-form-buttons-reset {
  width: 139px;
height: 40px;
padding: 11.2px 31.24px 11.9px 31.56px;
border-radius: 3px;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24),0px 0px 3px 0px rgba(0, 0, 0, 0.12);
background: rgba(255, 255, 255, 1);
color: rgba(99, 83, 108, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
border: none;
cursor: pointer;  
}


.addSeanse-form-buttons-reset:hover,
.addSeanse-form-buttons-send:hover{
  transform: scale(1.05);
  transition: transform 0.15s ease;
}

.noneError {
  display: none;
  justify-content: center;
  padding-top: 10px;
}

.error {
display: flex;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: rgb(112, 37, 24);
}