  body {
  max-width: 100%;
  overflow-x: hidden;
}
.app {
background-image: url("https://avatars.mds.yandex.net/i?id=5eba452cb00a925aefd82d7f7a8c31b4_l-5031281-images-thumbs&n=13");
min-height: 100vh; 
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;    
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #3d3939;
  background-attachment: fixed;
}

.header {
width: 990px;
height: 68px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 14px;
margin: 0 auto;
}

.header__container {
width: 962px;
height: 40px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}

.button-login {
border-radius: 5px;
cursor: pointer;
border: none;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24),0px 0px 3px 0px rgba(0, 0, 0, 0.12);
background: rgba(22, 166, 175, 1);
padding: 12px 12px 10px 12px;
color: rgba(255, 255, 255, 1);
font-family: Roboto,sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-transform: uppercase;
}

.button-login:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.nav {
width: 990px;
height: 58px;
display: flex;
justify-content: flex-start;
align-items: center;
padding: 0px 0px 10px 0px;
margin: 0 auto;
gap: 2px;
}

.nav-dates-button {
display: flex;
justify-content: flex-start;
align-items: center;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24),0px 0px 2px 0px rgba(0, 0, 0, 0.12);
background: rgba(255, 255, 255, 0.9);
width: 124px;
height: 48px;
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 14px;
text-align: left;
border: none;
border-radius: 2px;
padding: 10px 20px 10px 20px;
cursor: pointer;
}

.nav-dates-button--holiday {
display: flex;
justify-content: flex-start;
align-items: center;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24),0px 0px 2px 0px rgba(0, 0, 0, 0.12);
background: rgba(255, 255, 255, 0.9);
width: 124px;
height: 48px;
color: rgba(255, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 14px;
text-align: left;
border: none;
border-radius: 2px;
padding: 10px 20px 10px 20px;
cursor: pointer;
}

.nav-dates-button:hover,
.nav-dates-button--holiday:hover {
  transform: scale(1.03);
  transition: transform 0.25s ease;
}

.nav-dates-button-active {
width: 241px;
height: 52px;
border-radius: 2px;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24),0px 0px 2px 0px rgba(0, 0, 0, 0.12);
background: rgba(255, 255, 255, 1);
padding: 11px 22px 11px 22px;
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 15px;
font-weight: 700;
line-height: 14px;
text-align: left;
}

.nav-dates-button--holiday-active{
  width: 241px;
height: 52px;
border-radius: 2px;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24),0px 0px 2px 0px rgba(0, 0, 0, 0.12);
background: rgba(255, 255, 255, 1);
padding: 11px 22px 11px 22px;
color: rgba(255, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 15px;
font-weight: 700;
line-height: 14px;
text-align: left;
}

.seances {
  height: auto;
  width: 1028px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
}

.seance-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.seance-box {
  width: 990px;
  height: auto;
  border-radius: 2px;
  background: rgba(241, 235, 230, 0.95); 
  padding: 15px;
}

.filmPosters {
  width: 125px;
height: 175px;
}

.seance-box__info {
  display: flex;
}

.seance-box__info-descriptions {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.seance-box__info-descriptions-filmName {
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 18px;
text-align: left;
}

.seance-box__info-descriptions-filmDescription {
  padding-top: 10px;
  color: rgba(0, 0, 0, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 16px;
text-align: left;
}

.seance-box__info-descriptions-durationAndOrigins {
  display: flex;
  gap: 5px;
  padding-top: 5px;
}

.seance-box__info-descriptions-duration {
color: rgba(0, 0, 0, 1);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 16px;
text-align: left;
}

.seance-box__info-descriptions-duration-origin {
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 16px;
text-align: left;
}

.seances-box-hallName{
margin-bottom: 5px;
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 18px;;
text-align: left;
}

.seances-box {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.seances-box-seancesTimes {
  display: flex;
  gap: 3px;
}

.seances-box-seanceTime-button{
width: 53px;
height: 33px;
padding: 7.2px 7.33px 8.05px 8px;
border-radius: 2px;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24),0px 0px 2px 0px rgba(0, 0, 0, 0.12);
background: rgba(255, 255, 255, 1);
border: none;
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 17px;
text-align: left;
cursor: pointer;
}

.seances-box-seanceTime-buttonNone {
width: 53px;
height: 33px;
padding: 7.2px 7.33px 8.05px 8px;
border-radius: 2px;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24),0px 0px 2px 0px rgba(0, 0, 0, 0.12);
background: rgb(102, 98, 98);
border: none;
color: rgba(0, 0, 0, 1);
font-family: 'Roboto',sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 17px;
text-align: left;
}

.seances-box-seanceTime-button:hover{
  transform: scale(1.02);
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header,
  .nav,
  .seance-box{
    width: 100%;
  }

  .seances {
    width: 100%;
  }

  .header__container {
    width: 100%;
  }

  .seance-box__info {
    width: 100%;
  }

  .seance-box__info-descriptions {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-dates,
  .nav-dates-button--holiday,
  .nav-dates-button  {
    width: 100%;
  }

}

@media (max-width: 640px) {
  header,
  .nav,
  .seance-box{
    width: 100%;
  }

  .seances {
    width: 100%;
  }

  .header__container {

  display: flex;
    width: 100%;
    max-width: 640px;
  }

  .seance-box__info {
    width: 100%;
  }

  .seance-box__info-descriptions {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-dates,
  .nav-dates-button--holiday,
  .nav-dates-button  {
    width: 100%;
  }

  .header {
    width: 100%;
  }

}